<a href="https://colab.research.google.com/github/drbarak/DS_Project1/blob/main/Classification_Project_Shufersal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Classification Project

for Shufersal on-line orders, for replacing of missing products, will predict the replacement success!

In [21]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from IPython.display import display
p = print
d = display

# Get Data

## Raw Data

In [22]:
id = ''  # name of result file

RAW = True
DIFF = True
RATIO = False
REL = False

In [23]:
def get_raw(fname):
  data_url = 'https://raw.githubusercontent.com/DanielKorenDataScience/ClassificationProject/main/' + fname
  resp = requests.get(data_url)
  text = resp.text
  
  with open(fname, 'w') as fh:
    fh.write(text)

In [24]:
def diff_list(li1, li2):
  p(len(li1), len(li1))
  return [i for i in li1 + li2 if i not in li1 or i not in li2]

In [25]:
if RAW:
  fname = 'Sweets.csv'
  get_raw(fname)    
  df1 = pd.read_csv(fname, encoding='utf-8', nrows=1)
  df2 = pd.read_csv(fname, encoding='utf-8', usecols=[i for i in range(82) if not i in[0,8,10,12,14,16,18,20,24,26,27,48,50,52,54,56,58,62,64,65]])
  d(df1)

   OrderNumbert  HouseHoldID  ... CafiotSucarSusb  CorrelateItemStatusCode
0         40052            1  ...             NaN                        1

[1 rows x 82 columns]

In [26]:
if RAW:
  df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 82 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   OrderNumbert                1 non-null      int64
 1   HouseHoldID                 1 non-null      int64
 2   LocationCityName            1 non-null      object
 3   QuarterNumber               1 non-null      int64
 4   MonthNumber                 1 non-null      int64
 5   WeekNumber                  1 non-null      int64
 6   DayNumberInWeek             1 non-null      int64
 7   PeriodHoliday               1 non-null      object
 8   TransactionDate             1 non-null      object
 9   DepartmentCode              1 non-null      int64
 10  DepartmentName              1 non-null      object
 11  CategoryCode                1 non-null      int64
 12  CategoryName                1 non-null      object
 13  GroupCode                   1 non-null      int64
 14  GroupName                   1 non-null      object
 15  SubGroupCode                1 non-null      int64
 16  SubGroupName                1 non-null      object
 17  CompoundID                  1 non-null      float64
 18  CompoundIDDesc              1 non-null      object
 19  ParentProductNumber         1 non-null      float64
 20  ProductDescription          1 non-null      object
 21  BrandIndDesc                1 non-null      object
 22  BrandName                   1 non-null      object
 23  VendorNumber                1 non-null      int64
 24  VendorName                  1 non-null      object
 25  UnitOfMeasure               1 non-null      float64
 26  ItemsPerPackageWH           1 non-null      int64
 27  DescriptionTavit            1 non-null      object
 28  Price                       1 non-null      float64
 29  Quantity                    1 non-null      int64
 30  cntPrdAll                   1 non-null      int64
 31  NetSaleAmountAll            1 non-null      float64
 32  NetSaleNoVatPrdLast3Months  1 non-null      float64
 33  QuantSale                   1 non-null      float64
 34  cntMonths                   1 non-null      int64
 35  DiscountPerUnit             0 non-null      float64
 36  isPromo                     1 non-null      object
 37  Energy                      1 non-null      int64
 38  Pachmema                    1 non-null      float64
 39  Natran                      1 non-null      int64
 40  Helbon                      1 non-null      float64
 41  Shuman                      1 non-null      float64
 42  ShumanRavuy                 1 non-null      float64
 43  ShumanTrans                 1 non-null      float64
 44  Colastrol                   1 non-null      int64
 45  SivimTzunatim               0 non-null      float64
 46  CafiotSucar                 0 non-null      float64
 47  DepartmentCodeSubs          1 non-null      int64
 48  DepartmentNameSusb          1 non-null      object
 49  CategoryCodeSubs            1 non-null      int64
 50  CategoryNameSubs            1 non-null      object
 51  GroupCodeSubs               1 non-null      int64
 52  GroupNameSubs               1 non-null      object
 53  SubGroupCodeSubs            1 non-null      int64
 54  SubGroupNameSubs            1 non-null      object
 55  CompoundIDSubs              1 non-null      float64
 56  CompoundIDDescSubs          1 non-null      object
 57  ProductNumberSubs           1 non-null      float64
 58  ProductDescriptionSubs      1 non-null      object
 59  BrandIndDescSuss            1 non-null      object
 60  BrandNameSubs               1 non-null      object
 61  VendorNumberSubs            1 non-null      int64
 62  VendorNameSubs              1 non-null      object
 63  UnitOfMeasureSubs           1 non-null      float64
 64  ItemsPerPackageWHSubs       1 non-null      int64
 65  DescriptionTavitSubs        1 non-null      object
 66  PriceSubs                   1 non-null      float64
 67  NetSaleNoVatPrdSubs         1 non-null      float64
 68  QuantSaleSubs               1 non-null      float64
 69  cntMonthsSubs               1 non-null      int64
 70  DiscountPerUnitSubs         0 non-null      float64
 71  EnergySubs                  0 non-null      float64
 72  PachmemaSubs                0 non-null      float64
 73  NatranSubs                  0 non-null      float64
 74  HelbonSubs                  0 non-null      float64
 75  ShumanSubs                  0 non-null      float64
 76  ShumanRavuySubs             0 non-null      float64
 77  ShumanTransSubs             0 non-null      float64
 78  ColastrolSubs               0 non-null      float64
 79  SivimTzunatimSubs           0 non-null      float64
 80  CafiotSucarSusb             0 non-null      float64
 81  CorrelateItemStatusCode     1 non-null      int64
dtypes: float64(32), int64(26), object(24)
memory usage: 784.0+ bytes

Eliminating unwanted columns - mostly descriptive columns

In [27]:
if RAW:
  d(diff_list(list(df1.columns), list(df2.columns)))

82 82

['OrderNumbert',
 'TransactionDate',
 'DepartmentName',
 'CategoryName',
 'GroupName',
 'SubGroupName',
 'CompoundIDDesc',
 'ProductDescription',
 'VendorName',
 'ItemsPerPackageWH',
 'DescriptionTavit',
 'DepartmentNameSusb',
 'CategoryNameSubs',
 'GroupNameSubs',
 'SubGroupNameSubs',
 'CompoundIDDescSubs',
 'ProductDescriptionSubs',
 'VendorNameSubs',
 'ItemsPerPackageWHSubs',
 'DescriptionTavitSubs']

In [28]:
if RAW:
  d(df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54460 entries, 0 to 54459
Data columns (total 62 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   HouseHoldID                 54460 non-null  int64
 1   LocationCityName            54460 non-null  object
 2   QuarterNumber               54460 non-null  int64
 3   MonthNumber                 54460 non-null  int64
 4   WeekNumber                  54460 non-null  int64
 5   DayNumberInWeek             54460 non-null  int64
 6   PeriodHoliday               54460 non-null  object
 7   DepartmentCode              54460 non-null  int64
 8   CategoryCode                54460 non-null  int64
 9   GroupCode                   54460 non-null  int64
 10  SubGroupCode                54460 non-null  int64
 11  CompoundID                  54460 non-null  float64
 12  ParentProductNumber         54460 non-null  float64
 13  BrandIndDesc                54460 non-null  object
 14  BrandName                   54460 non-null  object
 15  VendorNumber                54460 non-null  int64
 16  UnitOfMeasure               54460 non-null  float64
 17  Price                       54460 non-null  float64
 18  Quantity                    54460 non-null  int64
 19  cntPrdAll                   54460 non-null  int64
 20  NetSaleAmountAll            54460 non-null  float64
 21  NetSaleNoVatPrdLast3Months  54200 non-null  float64
 22  QuantSale                   52050 non-null  float64
 23  cntMonths                   54460 non-null  int64
 24  DiscountPerUnit             32398 non-null  float64
 25  isPromo                     54460 non-null  object
 26  Energy                      50118 non-null  float64
 27  Pachmema                    49682 non-null  float64
 28  Natran                      44899 non-null  float64
 29  Helbon                      43120 non-null  float64
 30  Shuman                      43054 non-null  float64
 31  ShumanRavuy                 42542 non-null  float64
 32  ShumanTrans                 42294 non-null  float64
 33  Colastrol                   35200 non-null  float64
 34  SivimTzunatim               10731 non-null  float64
 35  CafiotSucar                 31399 non-null  float64
 36  DepartmentCodeSubs          54460 non-null  int64
 37  CategoryCodeSubs            54460 non-null  int64
 38  GroupCodeSubs               54460 non-null  int64
 39  SubGroupCodeSubs            54460 non-null  int64
 40  CompoundIDSubs              54460 non-null  float64
 41  ProductNumberSubs           54460 non-null  float64
 42  BrandIndDescSuss            54456 non-null  object
 43  BrandNameSubs               54460 non-null  object
 44  VendorNumberSubs            54460 non-null  int64
 45  UnitOfMeasureSubs           54460 non-null  float64
 46  PriceSubs                   54460 non-null  float64
 47  NetSaleNoVatPrdSubs         54235 non-null  float64
 48  QuantSaleSubs               52885 non-null  float64
 49  cntMonthsSubs               54460 non-null  int64
 50  DiscountPerUnitSubs         2370 non-null   float64
 51  EnergySubs                  49638 non-null  float64
 52  PachmemaSubs                49328 non-null  float64
 53  NatranSubs                  44680 non-null  float64
 54  HelbonSubs                  42730 non-null  float64
 55  ShumanSubs                  43250 non-null  float64
 56  ShumanRavuySubs             42118 non-null  float64
 57  ShumanTransSubs             41819 non-null  float64
 58  ColastrolSubs               34865 non-null  float64
 59  SivimTzunatimSubs           11973 non-null  float64
 60  CafiotSucarSusb             30626 non-null  float64
 61  CorrelateItemStatusCode     54460 non-null  int64
dtypes: float64(35), int64(20), object(7)
memory usage: 25.8+ MB

None

In [29]:
# Fix Typo mistake
if RAW: 
  df2.rename(columns={'OrderNumbert': 'OrderNumber','BrandIndDescSuss': 'BrandIndDescSubs', 'ProductNumberSubs': 'ParentProductNumberSubs', 
                    'NetSaleNoVatPrdSubs': 'NetSaleNoVatPrdLast3MonthsSubs', 'CafiotSucarSusb': 'CafiotSucarSubs'}, inplace=True)

Eliminating nulls

In [30]:
# Fill na
if RAW:
  df2.fillna({'QuantSale': 1, 'QuantSaleSubs': 1}, inplace=True)
  df2.fillna(0, inplace=True)
  d(df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54460 entries, 0 to 54459
Data columns (total 62 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   HouseHoldID                     54460 non-null  int64
 1   LocationCityName                54460 non-null  object
 2   QuarterNumber                   54460 non-null  int64
 3   MonthNumber                     54460 non-null  int64
 4   WeekNumber                      54460 non-null  int64
 5   DayNumberInWeek                 54460 non-null  int64
 6   PeriodHoliday                   54460 non-null  object
 7   DepartmentCode                  54460 non-null  int64
 8   CategoryCode                    54460 non-null  int64
 9   GroupCode                       54460 non-null  int64
 10  SubGroupCode                    54460 non-null  int64
 11  CompoundID                      54460 non-null  float64
 12  ParentProductNumber             54460 non-null  float64
 13  BrandIndDesc                    54460 non-null  object
 14  BrandName                       54460 non-null  object
 15  VendorNumber                    54460 non-null  int64
 16  UnitOfMeasure                   54460 non-null  float64
 17  Price                           54460 non-null  float64
 18  Quantity                        54460 non-null  int64
 19  cntPrdAll                       54460 non-null  int64
 20  NetSaleAmountAll                54460 non-null  float64
 21  NetSaleNoVatPrdLast3Months      54460 non-null  float64
 22  QuantSale                       54460 non-null  float64
 23  cntMonths                       54460 non-null  int64
 24  DiscountPerUnit                 54460 non-null  float64
 25  isPromo                         54460 non-null  object
 26  Energy                          54460 non-null  float64
 27  Pachmema                        54460 non-null  float64
 28  Natran                          54460 non-null  float64
 29  Helbon                          54460 non-null  float64
 30  Shuman                          54460 non-null  float64
 31  ShumanRavuy                     54460 non-null  float64
 32  ShumanTrans                     54460 non-null  float64
 33  Colastrol                       54460 non-null  float64
 34  SivimTzunatim                   54460 non-null  float64
 35  CafiotSucar                     54460 non-null  float64
 36  DepartmentCodeSubs              54460 non-null  int64
 37  CategoryCodeSubs                54460 non-null  int64
 38  GroupCodeSubs                   54460 non-null  int64
 39  SubGroupCodeSubs                54460 non-null  int64
 40  CompoundIDSubs                  54460 non-null  float64
 41  ParentProductNumberSubs         54460 non-null  float64
 42  BrandIndDescSubs                54460 non-null  object
 43  BrandNameSubs                   54460 non-null  object
 44  VendorNumberSubs                54460 non-null  int64
 45  UnitOfMeasureSubs               54460 non-null  float64
 46  PriceSubs                       54460 non-null  float64
 47  NetSaleNoVatPrdLast3MonthsSubs  54460 non-null  float64
 48  QuantSaleSubs                   54460 non-null  float64
 49  cntMonthsSubs                   54460 non-null  int64
 50  DiscountPerUnitSubs             54460 non-null  float64
 51  EnergySubs                      54460 non-null  float64
 52  PachmemaSubs                    54460 non-null  float64
 53  NatranSubs                      54460 non-null  float64
 54  HelbonSubs                      54460 non-null  float64
 55  ShumanSubs                      54460 non-null  float64
 56  ShumanRavuySubs                 54460 non-null  float64
 57  ShumanTransSubs                 54460 non-null  float64
 58  ColastrolSubs                   54460 non-null  float64
 59  SivimTzunatimSubs               54460 non-null  float64
 60  CafiotSucarSubs                 54460 non-null  float64
 61  CorrelateItemStatusCode         54460 non-null  int64
dtypes: float64(35), int64(20), object(7)
memory usage: 25.8+ MB

None

In [31]:
if RAW:
  df2.to_csv("Shufersal.csv", index = False)
  p(df2.shape)

(54460, 62)

In [32]:
if RAW:
  df = pd.read_csv('Shufersal.csv', index_col=False)
  p(df.shape)

(54460, 62)

## Encoding categories

In [33]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()

if RAW:
  enc.fit(['PromoSusbDiffPromo', 'PromoSusbSamePromo', 'noPromo'])
  p(df.isPromo.value_counts())
  p()
  df.isPromo = enc.transform(df.isPromo)
  p(df.isPromo.value_counts())

PromoSusbDiffPromo    30490
noPromo               22062
PromoSusbSamePromo     1908
Name: isPromo, dtype: int64

0    30490
2    22062
1     1908
Name: isPromo, dtype: int64

In [34]:
if RAW:
  for col in ['LocationCityName', 'PeriodHoliday', 'BrandIndDesc', 'BrandName', 'BrandIndDescSubs', 'BrandNameSubs']:
    p(col)
    p(pd.DataFrame(df[col].value_counts()).index)
    df[col] = enc.fit_transform(df[col])
    p(pd.DataFrame(df[col].value_counts()).index)

LocationCityName
Index(['ראשון לציון', 'תל אביב', 'חיפה', 'רחובות', 'ירושלים', 'כפר סבא',
       'פתח תקוה', 'ראש העין', 'רמת גן', 'רעננה', 'רמת השרון', 'נס ציונה',
       'מודיעין', 'חולון', 'גבעתיים', 'נתניה', 'הוד השרון', 'אילת', 'יהוד',
       'אשקלון', 'קרית מוצקין', 'חריש', 'כרמיאל', 'הרצליה', 'רמת אביב א',
       'שוהם', 'עפולה', 'באר יעקב', 'צור-יגאל', 'ערד', 'מזכרת בתיה', 'בני ברק',
       'חדרה', 'טירת הכרמל', 'מעלה אדומים', 'ירוחם', 'זכרון יעקב', 'רמלה',
       'בנימינה', 'קרית שמונה', 'מגדל העמק', 'אור עקיבא', 'יבנה', 'קרית אתא',
       'קרית ביאליק', 'עמק חפר', 'קרית עקרון', 'תל מונד', 'בת ים', 'קצרין',
       'בית שאן', 'פרדס חנה', 'מבשרת ציון', 'בית-שמש', 'כפר תבור',
       'משמר השרון', 'פרדסיה', 'שדרות', 'נהריה', 'קרית גת', 'אריאל', 'צור משה',
       'טבריה', 'קרית חיים', 'כרכור', 'אשדוד', 'מפרץ חיפה', 'גבעת אולגה',
       'מעלות', 'נשר', 'צפת', 'באר טוביה', 'אופקים', 'חצור-הגלילית',
       'כפר ורדים', 'בית חשמונאי', 'בת חפר', 'גבעת עדה', 'גבעת שמואל', 'שילת',
       'באר שבע', 'גדרה', 'קרית אונו', 'צור הדסה', 'כפר נטר', 'אזור',
       'ראש פינה', 'עכו', 'צומת כרכור', 'נוף הגליל', 'טבעון', 'יקנעם', 'מיתר',
       'דימונה', 'סביון', 'בני דרור', 'צורן קדימה', 'קריית שמונה', 'נשר חיפה'],
      dtype='object')
Int64Index([87, 97, 29, 88, 39, 42, 68, 85, 91, 93, 92, 57, 48, 28, 21, 60, 24,
             3, 36,  6, 82, 31, 45, 25, 90, 95, 64,  8, 72, 65, 49, 13, 27, 34,
            51, 38, 26, 89, 15, 84, 47, 35,  1, 78, 79, 63, 98, 83, 17, 75, 11,
            66, 46, 12, 43, 54, 67, 94, 80, 55,  4, 71, 33, 44,  5, 81, 53, 52,
            18, 58, 74,  7, 30, 40,  0, 10, 19, 16, 20, 96,  9, 22, 77, 41,  2,
            70, 32, 62, 86, 56, 69, 37, 50, 23, 61, 14, 73, 76, 59],
           dtype='int64')
PeriodHoliday
Index(['NotHoliday', 'HolidayPeriod'], dtype='object')
Int64Index([1, 0], dtype='int64')
BrandIndDesc
Index(['פרה', 'קינדר', 'עלית', 'קליק', 'שופרסל', 'M&M', 'מאסט', 'מילקה',
       'לינדט', 'אורביט', 'יוגטה', 'מנטוס', 'פסק זמן', 'שטראוס', 'ספלנדיד',
       'טוויקס', 'נסטלה', 'גודייבה', 'ריטר ספורט', 'פריי', 'סקיטלס', 'פשקס',
       'צ'וקטה', 'ורד הגליל', 'כרמית', 'פררו', 'סניקרס', 'הרשי', 'מליטיזרס',
       'טיק טק', 'FIVE', 'ורטר', 'מוצרט', 'אתי', 'שטורק', 'איירוויבז', 'לואקר',
       'הריבו', 'לריטייר', 'מרס', 'מנבו', 'טופיפי', 'DISNEY', 'פיקניק',
       'מייק&אייק', 'באונטי', 'בי קיינד', 'נוטלה', 'קדבורי', 'פרניגוטי',
       'ORIGINAL', 'טובלרון', 'קוטדור', 'הובה בובה', 'באצ'י', 'פז', 'המלט',
       'הולי קקאו', 'שוקול'ס'],
      dtype='object')
Int64Index([44, 52, 40, 53, 55,  2, 27, 30, 25,  4, 22, 33, 43, 58, 38, 19, 36,
            10, 54, 45, 39, 48, 49, 16, 23, 47, 37, 15, 31, 21,  1, 17, 28,  6,
            57,  5, 24, 14, 26, 34, 32, 20,  0, 42, 29,  7,  9, 35, 50, 46, 11,
             3, 18, 51,  8, 41, 13, 12, 56],
           dtype='int64')
BrandName
Index(['לא מותג פרטי', 'מותג פרטי'], dtype='object')
Int64Index([0, 1], dtype='int64')
BrandIndDescSubs
Index(['פרה', 'קינדר', 'עלית', 'שופרסל', 'קליק', 'M&M', 'מילקה', 'מאסט',
       'לינדט', 'אורביט', 'יוגטה', 'מנטוס', 'פסק זמן', 'ספלנדיד', 'נסטלה',
       'ריטר ספורט', 'פריי', 'מנבו', 'פשקס', 'סניקרס', 'גודייבה', 'צ'וקטה',
       'שטראוס', 'סקיטלס', 'טוויקס', 'כרמית', 'פררו', 'ורטר', 'טיק טק', 'FIVE',
       'מוצרט', 'אתי', 'הרשי', 'איירוויבז', 'שטורק', 'DISNEY', 'מרס', 'לואקר',
       'באונטי', 'ורד הגליל', 'הריבו', 'טופיפי', 'מייק&אייק', 'בי קיינד',
       'מליטיזרס', 'נוטלה', 'לריטייר', 'פיקניק', 'קדבורי', 'פרניגוטי',
       'הובה בובה', 'שקדיה סלקט', 'אסם', 'אוראו', 'מנעמים', '0', 'ג'לונים',
       'פז', 'טובלרון', 'מקוויטיס', 'קוטדור', 'שופרסל גרין', 'שוק קולינרי',
       'השף הלבן', 'מרבה', 'קליית גת', 'באלזן', 'FREE', 'מן', 'ORIGINAL',
       'האחים', 'קטיף', 'שוקול'ס', 'דר ברונר', 'פפושדו', 'פינוקים', 'שקד תבור',
       'וגה', 'תנובה', 'במבה'],
      dtype='object')
Int64Index([58, 67, 52, 71, 69,  4, 38, 35, 33,  7, 30, 42, 56, 50, 48, 70, 59,
            41, 62, 49, 16, 63, 76, 51, 27, 31, 61, 25, 29,  2, 36, 10, 21,  8,
            75,  1, 46, 32, 11, 24, 20, 28, 37, 13, 39, 47, 34, 55, 64, 60, 78,
            19,  9, 43,  6,  0, 15, 53, 72, 65, 26, 44, 54, 66, 57,  3, 23, 12,
            22, 68,  5, 17, 79, 40, 14, 73, 77, 45, 74, 18],
           dtype='int64')
BrandNameSubs
Index(['לא מותג פרטי', 'מותג פרטי'], dtype='object')
Int64Index([0, 1], dtype='int64')

## Combine 'GroupCode' and 'SubGroupCode' into one column

In [35]:
if RAW:
  d(df.head(2))
  df.GroupCode = df.GroupCode * 10 + df.SubGroupCode
  df.GroupCodeSubs = df.GroupCodeSubs * 10 + df.SubGroupCodeSubs
 # df.drop(['SubGroupCode', 'SubGroupCodeSubs'], axis=1, inplace=True)
  d(df.head(2))

   HouseHoldID  LocationCityName  ...  CafiotSucarSubs  CorrelateItemStatusCode
0            1                87  ...             0.00                        1
1            2                87  ...            12.25                        1

[2 rows x 62 columns]

   HouseHoldID  LocationCityName  ...  CafiotSucarSubs  CorrelateItemStatusCode
0            1                87  ...             0.00                        1
1            2                87  ...            12.25                        1

[2 rows x 62 columns]

## Use Dummies

Minimal improvement - FalseNegative (0,0) improved from 1338 to 1328

In [36]:
## Converting the categories column (isPromo) to dummies column 
if RAW:
  p(df.shape)
  df = pd.get_dummies(df, columns=['isPromo', 'PeriodHoliday'])
  p(df.shape)

(54460, 62)
(54460, 65)

In [37]:
if RAW:
  df_t = df.copy()

## Calc diff vector

In [38]:
if RAW:
  p(df.columns)

Index(['HouseHoldID', 'LocationCityName', 'QuarterNumber', 'MonthNumber',
       'WeekNumber', 'DayNumberInWeek', 'DepartmentCode', 'CategoryCode',
       'GroupCode', 'SubGroupCode', 'CompoundID', 'ParentProductNumber',
       'BrandIndDesc', 'BrandName', 'VendorNumber', 'UnitOfMeasure', 'Price',
       'Quantity', 'cntPrdAll', 'NetSaleAmountAll',
       'NetSaleNoVatPrdLast3Months', 'QuantSale', 'cntMonths',
       'DiscountPerUnit', 'Energy', 'Pachmema', 'Natran', 'Helbon', 'Shuman',
       'ShumanRavuy', 'ShumanTrans', 'Colastrol', 'SivimTzunatim',
       'CafiotSucar', 'DepartmentCodeSubs', 'CategoryCodeSubs',
       'GroupCodeSubs', 'SubGroupCodeSubs', 'CompoundIDSubs',
       'ParentProductNumberSubs', 'BrandIndDescSubs', 'BrandNameSubs',
       'VendorNumberSubs', 'UnitOfMeasureSubs', 'PriceSubs',
       'NetSaleNoVatPrdLast3MonthsSubs', 'QuantSaleSubs', 'cntMonthsSubs',
       'DiscountPerUnitSubs', 'EnergySubs', 'PachmemaSubs', 'NatranSubs',
       'HelbonSubs', 'ShumanSubs', 'ShumanRavuySubs', 'ShumanTransSubs',
       'ColastrolSubs', 'SivimTzunatimSubs', 'CafiotSucarSubs',
       'CorrelateItemStatusCode', 'isPromo_0', 'isPromo_1', 'isPromo_2',
       'PeriodHoliday_0', 'PeriodHoliday_1'],
      dtype='object')

In [39]:
if RAW and DIFF:
  for col in ['DepartmentCode', 'CategoryCode', 'GroupCode', #'SubGroupCode',
       'CompoundID', 'ParentProductNumber', 'BrandIndDesc',
       'VendorNumber', 'UnitOfMeasure', 'Price', 'NetSaleNoVatPrdLast3Months', 'Energy', 'Pachmema',
       'Natran', 'Helbon', 'Shuman', 'ShumanRavuy', 'ShumanTrans', 'Colastrol',
       'SivimTzunatim', 'CafiotSucar', 'QuantSale', 'cntMonths', 'DiscountPerUnit']:
    df[col + 'Diff'] = df[col] - df[col + 'Subs']

In [40]:
if RAW and DIFF:
  for col in ['DepartmentCode', 'CategoryCode', 'GroupCode', #'SubGroupCode',
       'CompoundID', 'ParentProductNumber', 'VendorNumber', 'BrandIndDesc']:
    df[col + 'Diff'] = (df[col + 'Diff'] != 0)    # tested both ==0 and !=0 (the result is 1 for one and 0 for the other - no change in the model results)
    df[col + 'Diff'] = enc.fit_transform(df[col + 'Diff'])

In [41]:
## Converting the categories column (isPromo) to dummies column 
if RAW and DIFF and False:
  p(df.shape)
  cols = []
  for col in ['DepartmentCode', 'CategoryCode', 'GroupCode',
        'CompoundID', 'ParentProductNumber', 'VendorNumber', 'BrandIndDesc']:
      cols.append(col)
      cols.append(col + 'Subs')
      cols.append(col + 'Diff')
  df = pd.get_dummies(df, columns=cols)
  p(df.shape)

In [42]:
if RAW and DIFF:
  df.to_csv("Shufersal_with_diff.csv", index = False)

In [43]:
if RAW and DIFF:
  df = pd.read_csv('Shufersal_with_diff.csv', index_col=False)
  p(df.shape)

(54460, 88)

## Calc Ratio vector - no change in results

note: changes affects only columns that are not categorical because those we change to 0/1 in the 2nd step below

In [ ]:
if RAW and RATIO:
  id = 'ratio'
  df = df_t.copy()
  df.head()

In [ ]:
if RAW and RATIO:
  for col in ['DepartmentCode', 'CategoryCode', 'GroupCode', #'SubGroupCode',
       'CompoundID', 'ParentProductNumber', 'BrandIndDesc',
       'VendorNumber', 'UnitOfMeasure', 'Price', 'NetSaleNoVatPrdLast3Months', 'Energy', 'Pachmema',
       'Natran', 'Helbon', 'Shuman', 'ShumanRavuy', 'ShumanTrans', 'Colastrol',
       'SivimTzunatim', 'CafiotSucar', 'QuantSale', 'cntMonths', 'DiscountPerUnit']:
    df[col + 'Ratio'] = df.apply(lambda row: 999 if row[col + 'Subs'] == 0 else row[col] / row[col + 'Subs'], axis=1)

In [ ]:
if RAW and RATIO:
  for col in ['DepartmentCode', 'CategoryCode', 'GroupCode', #'SubGroupCode',
       'CompoundID', 'ParentProductNumber', 'VendorNumber', 'BrandIndDesc']:
    df[col + 'Ratio'] = (df[col + 'Ratio'] != 1.0)
    df[col + 'Ratio'] = enc.fit_transform(df[col + 'Ratio'])

In [ ]:
if RAW and RATIO:
  df.to_csv("Shufersal_with_ratio.csv", index = False)

In [ ]:
if RAW and RATIO:
  df = pd.read_csv('Shufersal_with_ratio.csv', index_col=False)

## Calc Relative Diff - no change in results

note: changes affects only columns that are not categorical because those we change to 0/1 in the 2nd step below

In [ ]:
if RAW and REL:
  id = 'rel_diff'
  df = df_t.copy()
  df.head()

In [ ]:
if RAW and REL:
  for col in ['DepartmentCode', 'CategoryCode', 'GroupCode', #'SubGroupCode',
       'CompoundID', 'ParentProductNumber', 'BrandIndDesc',
       'VendorNumber', 'UnitOfMeasure', 'Price', 'NetSaleNoVatPrdLast3Months', 'Energy', 'Pachmema',
       'Natran', 'Helbon', 'Shuman', 'ShumanRavuy', 'ShumanTrans', 'Colastrol',
       'SivimTzunatim', 'CafiotSucar', 'QuantSale', 'cntMonths', 'DiscountPerUnit']:
    df[col + 'RelDiff'] = df.apply(lambda row: 1 if row[col] == 0 else (row[col] - row[col + 'Subs']) / row[col], axis=1)

In [ ]:
if RAW and REL:
  for col in ['DepartmentCode', 'CategoryCode', 'GroupCode', #'SubGroupCode',
       'CompoundID', 'ParentProductNumber', 'VendorNumber', 'BrandIndDesc']:
    df[col + 'RelDiff'] = (df[col + 'RelDiff'] != 0.0)
    df[col + 'RelDiff'] = enc.fit_transform(df[col + 'RelDiff'])

In [ ]:
if RAW and REL:
  df.to_csv("Shufersal_with_rel_diff.csv", index = False)

In [ ]:
if RAW and REL:
  df = pd.read_csv('Shufersal_with_rel_diff.csv', index_col=False)

# Get ready Data

In [44]:
if RAW:
  p(df.shape)
  d(df.head())

(54460, 88)

   HouseHoldID  LocationCityName  ...  cntMonthsDiff  DiscountPerUnitDiff
0            1                87  ...              3                0.000
1            2                87  ...              1                0.000
2            3                87  ...             -2                2.823
3            4                87  ...             -2                0.899
4            5                87  ...              0                1.857

[5 rows x 88 columns]

In [45]:
#if not RAW: - so not to use df_ratio
if DIFF:
  df = pd.read_csv('Shufersal_with_diff.csv', encoding='ISO-8859-8')
elif RATIO:
  df = pd.read_csv('Shufersal_with_ratio.csv', encoding='ISO-8859-8')
else:
  df = pd.read_csv('Shufersal_with_rel_diff.csv', encoding='ISO-8859-8')
p(df.shape)
d(df.head())

(54460, 88)

   HouseHoldID  LocationCityName  ...  cntMonthsDiff  DiscountPerUnitDiff
0            1                87  ...              3                0.000
1            2                87  ...              1                0.000
2            3                87  ...             -2                2.823
3            4                87  ...             -2                0.899
4            5                87  ...              0                1.857

[5 rows x 88 columns]

# Models

## Models - remove ingredients - no change in results

In [ ]:
REMOVE_ING = False
if REMOVE_ING:
  id = 'remove ingredients'
  try:
    del X_train, X_test, y_train, y_test
  except:
    pass
  
  cols = ['CorrelateItemStatusCode']
  for col in ['Energy', 'Pachmema', 'Natran', 'Helbon', 'Shuman', 'ShumanRavuy', 'ShumanTrans', 'Colastrol',
       'SivimTzunatim', 'CafiotSucar']:
      cols.append(col)
      cols.append(col + 'Subs')
      cols.append(col + 'Diff')

  X = df.drop(cols, axis=1)
  y = df.CorrelateItemStatusCode.astype(int)

  X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=0)
  p(df.shape)
  p(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(38122, 56) (16338, 56) (38122,) (16338,)

## Models - split based on date - almost no change in results (precision went down from 84% to 83%

In [ ]:
SPLIT_DATE = False
if SPLIT_DATE:
  id = 'split based on date'

  mask = df.WeekNumber > 202108
  try:
    del X_train, X_test, y_train, y_test
  except:
    pass

  df_train = df[~mask]
  X_train = df_train.drop('CorrelateItemStatusCode', axis=1)
  y_train = df_train.CorrelateItemStatusCode.astype(int)

  df_test = df[mask]
  X_test = df_test.drop('CorrelateItemStatusCode', axis=1)
  y_test = df_test.CorrelateItemStatusCode.astype(int)

  p(df.shape)
  p(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(54460, 86)
(37417, 85) (17043, 85) (37417,) (17043,)

## Models - remove all features execpt of prices

In [ ]:
ONLY_PRICE = False
if ONLY_PRICE:
  id = 'only_prices'
  try:
    del X_train, X_test, y_train, y_test
  except:
    pass
  
  X = df[['Price', 'PriceSubs', 'PriceDiff']]
  y = df.CorrelateItemStatusCode.astype(int)

  X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=0)
  p(df.shape)
  p(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(54460, 86)
(38122, 3) (16338, 3) (38122,) (16338,)


## Models - process_model code

In [47]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
import math

pd.set_option("precision", 2)
df_result = pd.DataFrame()

In [48]:
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score

X = df.drop('CorrelateItemStatusCode', axis=1)
y = df.CorrelateItemStatusCode.astype(int)

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=0)

In [49]:
def report(clf, X, y, note, test, data_type='Test'):
  global df_result
  name = type(clf).__name__ + ': ' + data_type
  acc = accuracy_score(y_true=y, y_pred=clf.predict(X))
  index = [(name, clf.classes_[0]), (name, clf.classes_[1])]
  cm = pd.DataFrame(confusion_matrix(y_true=y, y_pred=clf.predict(X)),
                    index=clf.classes_,
                    columns=clf.classes_)
  cm.reset_index(drop=True, inplace=True)
  rep = classification_report(y_true=y, y_pred=clf.predict(X), zero_division=1, output_dict=True)
  rep =  pd.DataFrame(rep)
  rep = rep.T
  rep['accuracy'] = acc
  rep.support = rep.support.astype(int)
  cols = list(rep.columns[:3]) + ['accuracy', 'support']
  rep = rep[cols]
  rep['precision_avg'] = rep.precision['macro avg']
  rep['recall_avg'] = rep.recall['macro avg']
  rep['f1-score_avg'] = rep['f1-score']['macro avg']
  rep.drop(['accuracy', 'macro avg', 'weighted avg'], axis=0, inplace=True)
  rep.reset_index(drop=True, inplace=True)
  df = cm.join(rep)
  df['name'] = name
  df['note'] = note
  df.loc[1, 'note'] = ''
  if test:  # do not add to database
    d(df)
  else:    
    df.reset_index(inplace=True)
    df_result.reset_index(inplace=True)
    df_result = df_result.append(df, ignore_index=True)
    df_result.set_index(['name', 'index'], inplace=True)
  return df_result

In [50]:
def showFeatureImportance(model, X, threshold):
  if type(model).__name__ == 'LogisticRegression':  # no features importance data
    w0 = model.intercept_[0]
    w = model.coef_[0]
    fx_imp = pd.Series(w, index=X.columns)
  else:
    fx_imp = pd.Series(model.feature_importances_, index=X.columns)
  fx_imp /= fx_imp.sum()
  fx_imp = fx_imp.sort_values()
  fx_imp = fx_imp[fx_imp > threshold]
  fig = plt.figure(figsize=(5,5))
  plt.xlim(0, 1)
  fx_imp.plot(kind='barh', title=type(model).__name__ )

In [51]:
def process_model(model, X, y, X_test, y_test, plot=False, threshold=0, note='', test=False):
  p('running: ', type(model).__name__, X.shape)
  model.fit(X, y)
  report(model, X, y, note, test, 'Train')
  report(model, X_test, y_test, note, test)
  if plot:
    showFeatureImportance(model, X, threshold)
  return df_result

In [52]:
from sklearn.linear_model import LogisticRegression, BayesianRidge, Lasso, Ridge
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier, AdaBoostClassifier, GradientBoostingRegressor, BaggingClassifier, VotingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC


## Models - Run process_model

In [ ]:
df_result = pd.DataFrame()

process_model(LogisticRegression(max_iter=1000), X_train, y_train, X_test, y_test, note='max_iter=1000', threshold=0.0000005)  # did not fit, return accuracy=0, so we increased max_iter from default 100
process_model(LogisticRegression(C=100, max_iter=1000, fit_intercept=False, warm_start=True), X_train, y_train, X_test, y_test, note='max_iter=1000, C=100, fit_intercept=False, warm_start=True', threshold=0.0000005, plot=False)

clf_GB = GradientBoostingClassifier(n_estimators=100)
process_model(clf_GB, X_train, y_train, X_test, y_test, plot=False, threshold=0.015, note='n_estimators=100')
clf_GB = GradientBoostingClassifier(ccp_alpha=0.0001, n_estimators=200, random_state=1234)
process_model(clf_GB, X_train, y_train, X_test, y_test, plot=False, threshold=0.015, note='ccp_alpha=0.0001, n_estimators=200, random_state=1234')

#process_model(AdaBoostClassifier(n_estimators=100))  # base estimator is DecisionTreeClassifier initialized with max_depth=1
clf_AB = AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=5), n_estimators=100, learning_rate=0.01)
process_model(clf_AB, X_train, y_train, X_test, y_test)

#process_model(RandomForestClassifier(n_estimators=64), plot=True, threshold=0.015)
#clf_RF = RandomForestClassifier(n_estimators=500, min_samples_split=6, criterion='entropy')
clf_RF = RandomForestClassifier(n_estimators=200, criterion='entropy', max_depth=None, min_samples_split=20, ccp_alpha=0.0003, random_state=1234)
process_model(clf_RF, X_train, y_train, X_test, y_test, plot=True, threshold=0.015, note="n_estimators=200, criterion='entropy', max_depth=None, min_samples_split=20, ccp_alpha=0.0003, random_state=1234")

process_model(KNeighborsClassifier(n_neighbors=39), X_train, y_train, X_test, y_test)

if not REL: #ERROR: Classification metrics can't handle a mix of binary and continuous targets
  process_model(VotingClassifier(estimators=[('RF', clf_RF), ('GB', clf_GB), ('AB', clf_AB)], voting='soft'), X_train, y_train, X_test, y_test, note="('RF', clf_RF), ('GB', clf_GB), ('AB', clf_AB')")

if False: # ERROR: Classification metrics can't handle a mix of binary and continuous targets
  process_model(GradientBoostingRegressor(n_estimators=100, max_depth=5))
  process_model(BayesianRidge())
  process_model(Lasso())
  process_model(Ridge(alpha = 0.5))
if False: ## too long > 4 minutes
  process_model(LinearSVC(penalty='l2', loss='squared_hinge', dual=True, tol=0.0001, C=0.1, max_iter=20000)) # max_iter increaed from default 1000 to 3000, 6000, 20000 because did not coverged warning
  from sklearn import svm
  process_model(svm.SVC())
  process_model(svm.SVR())

d(df_result)

fname = f'Shufersal_result_{id}.csv'
df_result.to_csv(fname, index = True)

running:  LogisticRegression (38122, 87)
running:  LogisticRegression (38122, 87)
running:  GradientBoostingClassifier (38122, 87)

## Models - compare results

1. Diff
2. Diff with remove ingredients columns
3. Diff with split based on date
4. Ratio
5. RelDiff - relative difference
6. OnlyPrices - Diff with only 3 features( Price, PriceSubs, PriceDiff)

In [ ]:
def read_results(id='', disp=True, full=False):
  fname = f'Shufersal_result_{id}.csv'
  p(fname)
  df = pd.read_csv(fname)
  df.set_index(['name', 'index'], inplace=True)
  if not full:
    df = df.loc[['RandomForestClassifier: Train', 'RandomForestClassifier: Test']]#.copy()
  if disp:
    pd.set_option("max_column", 120)
    d(df)
  return df

In [ ]:
p(id)
read_results()
read_results('remove ingredients')
read_results('split based on date')
read_results('ratio')
read_results('rel_diff')
read_results('only_prices')
p()

rel_diff
Shufersal_result_.csv

                                          0        1  precision  recall  \
name                          index
RandomForestClassifier: Train 0      9288.0   3361.0       0.85    0.73
                              1      1580.0  23893.0       0.88    0.94
RandomForestClassifier: Test  0      3830.0   1589.0       0.81    0.71
                              1       896.0  10023.0       0.86    0.92

                                     f1-score  accuracy  support  \
name                          index
RandomForestClassifier: Train 0          0.79      0.87  12649.0
                              1          0.91      0.87  25473.0
RandomForestClassifier: Test  0          0.76      0.85   5419.0
                              1          0.89      0.85  10919.0

                                     precision_avg  recall_avg  f1-score_avg  \
name                          index
RandomForestClassifier: Train 0               0.87        0.84          0.85
                              1               0.87        0.84          0.85
RandomForestClassifier: Test  0               0.84        0.81          0.82
                              1               0.84        0.81          0.82

                                                                                  note
name                          index
RandomForestClassifier: Train 0      n_estimators=200, criterion='entropy', max_dep...
                              1                                                    NaN
RandomForestClassifier: Test  0      n_estimators=200, criterion='entropy', max_dep...
                              1                                                    NaN

Shufersal_result_remove ingredients.csv

                                          0        1  precision  recall  \
name                          index
RandomForestClassifier: Train 0      9116.0   3533.0       0.86    0.72
                              1      1512.0  23961.0       0.87    0.94
RandomForestClassifier: Test  0      3767.0   1652.0       0.82    0.70
                              1       828.0  10091.0       0.86    0.92

                                     f1-score  accuracy  support  \
name                          index
RandomForestClassifier: Train 0          0.78      0.87  12649.0
                              1          0.90      0.87  25473.0
RandomForestClassifier: Test  0          0.75      0.85   5419.0
                              1          0.89      0.85  10919.0

                                     precision_avg  recall_avg  f1-score_avg  \
name                          index
RandomForestClassifier: Train 0               0.86        0.83          0.84
                              1               0.86        0.83          0.84
RandomForestClassifier: Test  0               0.84        0.81          0.82
                              1               0.84        0.81          0.82

                                                                                  note
name                          index
RandomForestClassifier: Train 0      n_estimators=200, criterion='entropy', max_dep...
                              1                                                    NaN
RandomForestClassifier: Test  0      n_estimators=200, criterion='entropy', max_dep...
                              1                                                    NaN

Shufersal_result_split based on date.csv

                                          0        1  precision  recall  \
name                          index
RandomForestClassifier: Train 0      8644.0   3102.0       0.86    0.74
                              1      1419.0  24252.0       0.89    0.94
RandomForestClassifier: Test  0      3699.0   2623.0       0.78    0.59
                              1      1072.0   9649.0       0.79    0.90

                                     f1-score  accuracy  support  \
name                          index
RandomForestClassifier: Train 0          0.79      0.88  11746.0
                              1          0.91      0.88  25671.0
RandomForestClassifier: Test  0          0.67      0.78   6322.0
                              1          0.84      0.78  10721.0

                                     precision_avg  recall_avg  f1-score_avg  \
name                          index
RandomForestClassifier: Train 0               0.87        0.84          0.85
                              1               0.87        0.84          0.85
RandomForestClassifier: Test  0               0.78        0.74          0.75
                              1               0.78        0.74          0.75

                                                                                  note
name                          index
RandomForestClassifier: Train 0      n_estimators=200, criterion='entropy', max_dep...
                              1                                                    NaN
RandomForestClassifier: Test  0      n_estimators=200, criterion='entropy', max_dep...
                              1                                                    NaN

Shufersal_result_ratio.csv

                                          0        1  precision  recall  \
name                          index
RandomForestClassifier: Train 0      9227.0   3422.0       0.85    0.73
                              1      1586.0  23887.0       0.87    0.94
RandomForestClassifier: Test  0      3797.0   1622.0       0.81    0.70
                              1       899.0  10020.0       0.86    0.92

                                     f1-score  accuracy  support  \
name                          index
RandomForestClassifier: Train 0          0.79      0.87  12649.0
                              1          0.91      0.87  25473.0
RandomForestClassifier: Test  0          0.75      0.85   5419.0
                              1          0.89      0.85  10919.0

                                     precision_avg  recall_avg  f1-score_avg  \
name                          index
RandomForestClassifier: Train 0               0.86        0.83          0.85
                              1               0.86        0.83          0.85
RandomForestClassifier: Test  0               0.83        0.81          0.82
                              1               0.83        0.81          0.82

                                                                                  note
name                          index
RandomForestClassifier: Train 0      n_estimators=200, criterion='entropy', max_dep...
                              1                                                    NaN
RandomForestClassifier: Test  0      n_estimators=200, criterion='entropy', max_dep...
                              1                                                    NaN

Shufersal_result_rel_diff.csv

                                          0        1  precision  recall  \
name                          index
RandomForestClassifier: Train 0      9280.0   3369.0       0.86    0.73
                              1      1567.0  23906.0       0.88    0.94
RandomForestClassifier: Test  0      3829.0   1590.0       0.81    0.71
                              1       899.0  10020.0       0.86    0.92

                                     f1-score  accuracy  support  \
name                          index
RandomForestClassifier: Train 0          0.79      0.87  12649.0
                              1          0.91      0.87  25473.0
RandomForestClassifier: Test  0          0.75      0.85   5419.0
                              1          0.89      0.85  10919.0

                                     precision_avg  recall_avg  f1-score_avg  \
name                          index
RandomForestClassifier: Train 0               0.87        0.84          0.85
                              1               0.87        0.84          0.85
RandomForestClassifier: Test  0               0.84        0.81          0.82
                              1               0.84        0.81          0.82

                                                                                  note
name                          index
RandomForestClassifier: Train 0      n_estimators=200, criterion='entropy', max_dep...
                              1                                                    NaN
RandomForestClassifier: Test  0      n_estimators=200, criterion='entropy', max_dep...
                              1                                                    NaN

Shufersal_result_only_prices.csv

                                          0        1  precision  recall  \
name                          index
RandomForestClassifier: Train 0      8819.0   3830.0       0.77    0.70
                              1      2709.0  22764.0       0.86    0.89
RandomForestClassifier: Test  0      3786.0   1633.0       0.75    0.70
                              1      1234.0   9685.0       0.86    0.89

                                     f1-score  accuracy  support  \
name                          index
RandomForestClassifier: Train 0          0.73      0.83  12649.0
                              1          0.87      0.83  25473.0
RandomForestClassifier: Test  0          0.73      0.82   5419.0
                              1          0.87      0.82  10919.0

                                     precision_avg  recall_avg  f1-score_avg  \
name                          index
RandomForestClassifier: Train 0               0.81        0.80           0.8
                              1               0.81        0.80           0.8
RandomForestClassifier: Test  0               0.80        0.79           0.8
                              1               0.80        0.79           0.8

                                                                                  note
name                          index
RandomForestClassifier: Train 0      n_estimators=200, criterion='entropy', max_dep...
                              1                                                    NaN
RandomForestClassifier: Test  0      n_estimators=200, criterion='entropy', max_dep...
                              1                                                    NaN

Result of running the models - no improvemnet using the dummies: shape = (54460, 2238)

running:  LogisticRegression
running:  LogisticRegression
running:  GradientBoostingClassifier
running:  GradientBoostingClassifier
running:  AdaBoostClassifier
running:  RandomForestClassifier
running:  KNeighborsClassifier
running:  VotingClassifier
0	1	precision	recall	f1-score	accuracy	support	precision_avg	recall_avg	f1-score_avg	note
name	index											
LogisticRegression: Train	0	0.0	12649.0	1.00	0.00	0.00	0.67	12649.0	0.83	0.50	0.40	max_iter=1000
1	0.0	25473.0	0.67	1.00	0.80	0.67	25473.0	0.83	0.50	0.40	
LogisticRegression: Test	0	0.0	5419.0	1.00	0.00	0.00	0.67	5419.0	0.83	0.50	0.40	max_iter=1000
1	0.0	10919.0	0.67	1.00	0.80	0.67	10919.0	0.83	0.50	0.40	
LogisticRegression: Train	0	0.0	12649.0	1.00	0.00	0.00	0.67	12649.0	0.83	0.50	0.40	max_iter=1000, C=100, fit_intercept=False, war...
1	0.0	25473.0	0.67	1.00	0.80	0.67	25473.0	0.83	0.50	0.40	
LogisticRegression: Test	0	0.0	5419.0	1.00	0.00	0.00	0.67	5419.0	0.83	0.50	0.40	max_iter=1000, C=100, fit_intercept=False, war...
1	0.0	10919.0	0.67	1.00	0.80	0.67	10919.0	0.83	0.50	0.40	
GradientBoostingClassifier: Train	0	7748.0	4901.0	0.79	0.61	0.69	0.82	12649.0	0.81	0.77	0.78	n_estimators=100
1	2006.0	23467.0	0.83	0.92	0.87	0.82	25473.0	0.81	0.77	0.78	
GradientBoostingClassifier: Test	0	3326.0	2093.0	0.78	0.61	0.69	0.82	5419.0	0.81	0.76	0.78	n_estimators=100
1	917.0	10002.0	0.83	0.92	0.87	0.82	10919.0	0.81	0.76	0.78	
GradientBoostingClassifier: Train	0	12649.0	0.0	1.00	1.00	1.00	1.00	12649.0	1.00	1.00	1.00	max_depth=None, max_leaf_nodes=None, min_sampl...
1	0.0	25473.0	1.00	1.00	1.00	1.00	25473.0	1.00	1.00	1.00	
GradientBoostingClassifier: Test	0	4128.0	1291.0	0.82	0.76	0.79	0.86	5419.0	0.85	0.84	0.84	max_depth=None, max_leaf_nodes=None, min_sampl...
1	936.0	9983.0	0.89	0.91	0.90	0.86	10919.0	0.85	0.84	0.84	
AdaBoostClassifier: Train	0	7352.0	5297.0	0.78	0.58	0.67	0.81	12649.0	0.80	0.75	0.76	
1	2095.0	23378.0	0.82	0.92	0.86	0.81	25473.0	0.80	0.75	0.76	
AdaBoostClassifier: Test	0	3167.0	2252.0	0.77	0.58	0.66	0.80	5419.0	0.79	0.75	0.76	
1	955.0	9964.0	0.82	0.91	0.86	0.80	10919.0	0.79	0.75	0.76	
RandomForestClassifier: Train	0	7366.0	5283.0	0.86	0.58	0.69	0.83	12649.0	0.84	0.77	0.79	n_estimators=200, criterion='entropy', max_dep...
1	1243.0	24230.0	0.82	0.95	0.88	0.83	25473.0	0.84	0.77	0.79	
RandomForestClassifier: Test	0	2971.0	2448.0	0.82	0.55	0.66	0.81	5419.0	0.81	0.74	0.76	n_estimators=200, criterion='entropy', max_dep...
1	669.0	10250.0	0.81	0.94	0.87	0.81	10919.0	0.81	0.74	0.76	
KNeighborsClassifier: Train	0	2262.0	10387.0	0.58	0.18	0.27	0.68	12649.0	0.64	0.56	0.54	
1	1652.0	23821.0	0.70	0.94	0.80	0.68	25473.0	0.64	0.56	0.54	
KNeighborsClassifier: Test	0	858.0	4561.0	0.51	0.16	0.24	0.67	5419.0	0.60	0.54	0.52	
1	824.0	10095.0	0.69	0.92	0.79	0.67	10919.0	0.60	0.54	0.52	
VotingClassifier: Train	0	12235.0	414.0	1.00	0.97	0.98	0.99	12649.0	0.99	0.98	0.99	('RF', clf_RF), ('GB', clf_GB), ('AB', clf_AB')
1	0.0	25473.0	0.98	1.00	0.99	0.99	25473.0	0.99	0.98	0.99	
VotingClassifier: Test	0	4005.0	1414.0	0.83	0.74	0.78	0.86	5419.0	0.86	0.83	0.84	('RF', clf_RF), ('GB', clf_GB), ('AB', clf_AB')
1	799.0	10120.0	0.88	0.93	0.90	0.86	10919.0	0.86	0.83	0.84

# Grid Search for hyperparameters - on best model RandonForest

It run for few hours and then colab disconnected - it was to preform 5880 checks. From the partial results (because Verbose=4) I saw that n_estimators=500, min_samples_split=6, criterion='entropy' gives better results so we implemented them and we can see that indeed precision was improved from 84% to 85%

In [ ]:
GS = False
if GS:
  clf_RF = RandomForestClassifier(n_estimators=64)
  clf_RF.fit(X_train, y_train)
  p(clf_RF.score(X_train, y_train))
  p(clf_RF.score(X_test, y_test))

In [ ]:
def run_GS(model, param_grid, n_jobs=-1, cv=5, verbose=4):
  if verbose > 3 and n_jobs == -1:
    p('Warning: when n_jobs=-1 no partial results are displayed')
    p('Change one of the parameters - Aborted')
    return
  clf_gs = GridSearchCV(model, param_grid, cv=cv, verbose=verbose, n_jobs=n_jobs)
  clf_gs.fit(X_train, y_train)

  p('Results')
  clf_gs.estimator
  p(clf_gs.best_params_)
  p(clf_gs.best_estimator_)
  p('After')
  p(clf_gs.score(X_train, y_train))
  p(clf_gs.score(X_test, y_test))

In [ ]:
if GS:
  param_grid = { 
      'max_depth' : [None, 8, 15],
      'ccp_alpha': [0.0001, 0.0005, 0.0008, 0.001],
      'n_estimators': [100, 200],
  #    'max_features': ['auto', 'sqrt', 'log2', 1.0, 0.75, 0.5, 0.25],
      'max_leaf_nodes': [None, 4, 10, 20],
      'min_samples_split': [2, 10, 20],
      'random_state': [1234]
  }
  model = GradientBoostingClassifier()
  run_GS(model, param_grid, n_jobs=-1, cv=2, verbose=3)

In [ ]:
if GS:
  param_grid = { 
      'max_depth' : [None, 4,5,6,7,8],
      'ccp_alpha': [0.01, 0.02, 0.03, 0.1],
  #    'n_estimators': [64, 200, 500],
  #    'max_features': ['auto', 'sqrt', 'log2', 1.0, 0.75, 0.5, 0.25],
      'criterion' :['gini', 'entropy'], 
  #   'max_leaf_nodes': [None, 4, 10, 20],
      'min_samples_split': [20, 100, 500]#[2, 4, 6, 8, 10, 12, 14]
  }
  model = RandomForestClassifier()
  run_GS(model, param_grid, n_jobs=-1, cv=2, verbose=3)

In [ ]:
if GS:
  param_grid = { 
      'max_depth' : [None, 4,8,10],
      'ccp_alpha': [0.005, 0.01, 0.015],
  #    'n_estimators': [64, 200, 500],
  #    'max_features': ['auto', 'sqrt', 'log2', 1.0, 0.75, 0.5, 0.25],
      'criterion' :['entropy'], 
  #   'max_leaf_nodes': [None, 4, 10, 20],
      'min_samples_split': [10, 20, 30]
  }

  model = RandomForestClassifier()
  run_GS(model, param_grid, n_jobs=-1, cv=2, verbose=3)

> output:

Fitting 5 folds for each of 144 candidates, totalling 720 fits

{'ccp_alpha': 0.01, 'criterion': 'entropy', 'max_depth': 8, 'min_samples_split': 20}

In [ ]:
if GS:
  param_grid = { 
      'max_depth' : [None, 4,8,10],
      'ccp_alpha': [0.005, 0.01, 0.015],
  #    'n_estimators': [64, 200, 500],
  #    'max_features': ['auto', 'sqrt', 'log2', 1.0, 0.75, 0.5, 0.25],
      'criterion' :['entropy'], 
  #   'max_leaf_nodes': [None, 4, 10, 20],
      'min_samples_split': [10, 20, 30]
  }

  model = RandomForestClassifier()
  run_GS(model, param_grid, n_jobs=-1, cv=2, verbose=3)

> Output

Fitting 5 folds for each of 36 candidates, totalling 180 fits

{'ccp_alpha': 0.005, 'criterion': 'entropy', 'max_depth': None, 'min_samples_split': 20}

Train: 0.7725460364094224

Test: 0.7751866813563472

In [ ]:
if GS:
  param_grid = { 
      'max_depth' : [None],
      'ccp_alpha': [0.001, 0.003, 0.005],
      'criterion' :['entropy'], 
      'min_samples_split': [20],
      'n_estimators': [64, 200, 500],
  }
  model = RandomForestClassifier()
  run_GS(model, param_grid, n_jobs=-1, cv=2, verbose=3)

> Output

Fitting 5 folds for each of 9 candidates, totalling 45 fits

{'ccp_alpha': 0.001, 'criterion': 'entropy', 'max_depth': None, 'min_samples_split': 20, 'n_estimators': 200}

Train: 0.8159592885997586

Test: 0.8142367486840495

In [ ]:
if GS:
  param_grid = { 
      'max_depth' : [None],
      'ccp_alpha': [0.0001, 0.0005, 0.0008, 0.001],
      'criterion' :['entropy'], 
      'min_samples_split': [20],
      'n_estimators': [200, 300],
  }
  model = RandomForestClassifier()
  run_GS(model, param_grid, n_jobs=-1, cv=2, verbose=3)

> Output

Fitting 5 folds for each of 8 candidates, totalling 40 fits (15 mins)

{'ccp_alpha': 0.0001, 'criterion': 'entropy', 'max_depth': None, 'min_samples_split': 20, 'n_estimators': 200}

Train: 0.921698756623472

Test: 0.8595299302240176

In [ ]:
if GS:
  clf_RF = RandomForestClassifier(n_estimators=200, criterion='entropy', max_depth=None, min_samples_split=20, ccp_alpha=0.0005)
  clf_RF.fit(X_train, y_train)
  p(clf_RF.score(X_train, y_train))
  p(clf_RF.score(X_test, y_test))

In [ ]:
if GS:
  for i in range(11):
    ccp_alpha = 0.0001 + i / 10000
    clf_RF = RandomForestClassifier(n_estimators=200, criterion='entropy', max_depth=None, min_samples_split=20, ccp_alpha=ccp_alpha)
    p(ccp_alpha)
    clf_RF.fit(X_train, y_train)
    p(clf_RF.score(X_train, y_train))
    p(clf_RF.score(X_test, y_test))

# Cross validation

In [ ]:
CV = False
if CV:
  k = 7
  scores = cross_val_score(clf_RF, X_train, y_train, cv=k)
  p("\nscores : " + (k * "{:.3f}, ").format(*scores))
  p("mean : {:.3f} std : {:.3f} ".format(scores.mean(), scores.std()))

scores : 0.838, 0.845, 0.843, 0.850, 0.837, 0.844, 0.843, 
mean : 0.843 std : 0.004

# TODO:

## Bagging (Bootstrap Aggregation)

> One classifier ("base model") and try to fit many different subsamples of the data

> The hyper-parameters "max_samples" and "max_features" control the size of the subsets

> The hyper-parameters "bootstrap" and "bootstrap_features" control wether the samples and the features are drawn with (or without) replacement

In [ ]:
clf_base = DecisionTreeClassifier(max_depth=5)

In [ ]:
clf_bagging = BaggingClassifier(base_estimator=clf_base, n_estimators=50)
clf_bagging.fit(X_train, y_train)

clf_bagging.score(X_train, y_train)
clf_bagging.score(X_test, y_test)

0.7848573876851512

## Correlation